/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos específicos */
h1 {
    margin: 0;
}

nav ul li a:hover {
    color: #ffcc00;
}

section p {
    line-height: 1.5;
}

#temas {
    background-color: #ffe4b2;
}

#ejercicios {
    background-color: #b2d8ff;
}

#practicas {
    background-color: #b2ffb2;
}

#bibliografia {
    background-color: #ffb2b2;
}

